<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <header><% include partials/_header %></header>

  <div class="container" style="font-size:20px; padding:50px;">
    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST" class="form-horizantal" style="margin:50px;">
      <div class="form-group">
        <label for="longURL" class="control-label col-sm-2" style=""><%= shortURL %>:</label>

        <div class="col-sm-10" style="">
          <input id="longURL" class="form-control" type="text" name="longURL" value="<%= longURL %>"">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" style="width:80px" class="btn btn-success">Update</button>
        </div>
      </div>
    </form>

    <form action="/urls/<%= shortURL %>/delete?_method=DELETE" method="POST" style="margin:50px;">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" style="width:80px" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>

  <br>
  <br>
  <div class="contrainer col-sm-offset-1">
    <p><b>Total Visits: </b><%= visits %></p>
    <p><b>Total Unique Visits: </b><%= uniqueVisits %></p>
  </div>

  <br>
  <div class="container">
    <table class="table table-hover table-condensed table-responsive">
      <thead>
      <tr>
        <td><b>Time Stamp</b></td>
        <td><b>Visitor ID</b></td>
      </tr>
      </thead>

      <tbody>
      <% for (let visit of visitors) { %>
        <tr><td><%= visit[0] %> </td><td><%= visit[1] %></td></tr>
      <% } %>
      </tbody>
    </table>
  </div>

</body>
</html>