<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
  <header><% include partials/_header %></header>

  <table>
    <tr>
      <td><b>Shortened</b></td>
      <td></td>
      <td><b>URL</b></td>
    </tr>

    <% for (let url of Object.keys(urls)) { %>
      <% if (userURLs.indexOf(url) !== -1) { %>
      <tr>
        <td><%= url %></td>
        <td>=></td>
        <td><a href="<%= urls[url] %>"><%= urls[url] %></a></td>
        <td>
          <font size="2">
          <a href="/urls/<%= url %>">
            Edit
          </a>
          </font>
        </td>
        <td>
          <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% }}; %>
  </table>

  <p></p>
  <font size="4"><a href="/urls/new">Add a URL!</a></font>

</body>
</html>