<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="font-size:20px; padding:50px;">

  <header><% include partials/_header %></header>

  <form action="/urls/<%= shortURL %>?_method=PUT" method="POST">
    <label for="longURL"><b>ShortURL: </b><%= shortURL %> =></label>

    <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 300px">

    <input type="submit" value="Update">
  </form>

  <form action="/urls/<%= shortURL %>/delete?_method=DELETE" method="POST">
      <input type="submit" value="Delete">
  </form>

  <br>
  <table>
    <tr><td><b>Total Visits: </b></td><td><%= visits %></td></tr>
    <tr><td><b>Total Unique Visits: </b></td><td><%= uniqueVisits %></td></tr>
  </table>
  <br>

  <table>
    <tr><td><b>Time Stamp</b></td><td><b>Visitor ID</b></td></tr>
    <% for (let visit of visitors) { %>
      <tr><td><%= visit[0] %> </td><td><%= visit[1] %></td></tr>
    <% } %>
  </table>

</body>
</html>