<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>TinyApp</title>
</head>

<body>
  <header><% include partials/_header %></header>

  <div class="container">
  <table class="table table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <td><b>Shortened</b></td>
        <td><b>URL</b></td>
        <td></td>
      </tr>
    </thead>

    <tbody>
    <% for (let url of Object.keys(urls)) { %>
      <% if (userURLs.indexOf(url) !== -1) { %>
      <tr>
        <td><%= url %></td>
        <td><a href="<%= urls[url]['longURL'] %>"><%= urls[url]['longURL'] %></a></td>

        <td>
          <a href="/urls/<%= url %>">
            <button type="submit" type="button" class="btn btn-info btn-xs">Edit</button>
          </a>

          <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
            <button type="submit" class="btn btn-danger btn-xs">Delete</button>
          </form>
        </td>
      </tr>
    <% }}; %>
    </tbody>
  </table>

  <p></p>
  <font size="4"><a href="/urls/new">Add a URL!</a></font>

  </div>
</body>
</html>